.home-container {
  background-color: #f8f9fa; /* Change this to your desired background color */
  padding: 20px; /* Optional: Add some padding */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background for better text visibility */
  color: white; /* Text color */
}
/* Home.css */
.carousel img {
  height: 500px; /* Set a fixed height */
  object-fit:center ; /* This will ensure the image covers the area without distortion */
  width: 500px; /* Make sure the width is 100% to maintain responsiveness */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background for better text visibility */
  color: white; /* Text color */
}